broker = {
	"hostname": "HOSTNAME_OF_YOUR_MQTT_BROKER",
	"port": 1883,
	"user": "MQTT_USERNAME",
	"password": "MQTT_PASSWORD"
	}

topic_prefix = "mumalab/room/sensors/"

serial_port = "/dev/ttyACM0"
port = 21
